<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order: <%= @order.id  %></h1>
    <p>
      You have made an order! Cool!
    </p>
  </body>
</html>